@model AdminClosedViewModel

@{
    ViewData["SkipContainer"] = true;
}

<div class="container">
    <h1 class="display-4">
        Game: @Model.Name
    </h1>

    <p class="lead">
        <strong>Status:</strong>
        Closed
    </p>

    <p>
        Voting is now closed. See the results below.
    </p>

    <div class="row">
        <div class="col-sm-4">
            <h2>
                Game Admin
            </h2>

            <form asp-controller="Admin"
                  asp-action="ChangeStatus"
                  asp-route-id="@Model.GameID"
                  asp-route-admintoken="@Model.AdminToken"
                  asp-route-newstatus="1" @* Voting *@
                  class="my-3">
                <button class="btn btn-danger btn-block btn-lg">
                    Re-open Voting
                </button>

                <small class="form-text text-muted">
                    This will re-open voting allowing players to change their votes. Note that since the game is already closed, players may have seen the correct answers. Any existing votes will be saved.
                </small>
            </form>
        </div>

        <div class="col-sm-8">
            <h2>URLs</h2>

            <div class="form-group">
                <label for="PlayerUrl">
                    Player URL
                </label>

                <input type="text"
                       readonly
                       class="form-control"
                       id="PlayerUrl"
                       value="@Url.Action("Index", "Player", new { id = Model.GameID }, Context.Request.Scheme, null)">

                <small class="form-text text-muted">
                    Send this to your players. They can use it to see the results of their individual votes.
                </small>
            </div>

            <hr />

            <div class="form-group">
                <label for="AdminUrl">
                    Admin URL
                </label>

                <input type="text"
                       readonly
                       class="form-control"
                       id="AdminUrl"
                       value="@Url.Action("Index", "Admin", new { id = Model.GameID, adminToken = Model.AdminToken }, Context.Request.Scheme, null)">

                <small class="form-text text-muted">
                    <strong class="text-danger">DO NOT</strong> send this URL to your players. Keep it to yourself!
                </small>
            </div>
        </div>
    </div>

    <h2>Scoring</h2>

    <p>
        Each fact is worth a certain number of points, determined by the number of players in the game: @Model.Players.Count for this game. For each fact, the number of points is split among the players who guessed it correctly. If no one guesses a player's fact, then that player gets the points.
    </p>

    <h2>Votes</h2>
</div>

<div class="container-fluid">
    <table class="table table-bordered @(Model.Facts.Count >= 10 ? "table-sm" : string.Empty)"
           style="table-layout: fixed;">
        <colgroup>
            <col style="width: 20%;" />

            @foreach (var player in Model.Facts)
            {
                <col style="width: auto;" />
            }
        </colgroup>

        <thead>
            <tr>
                <th></th>

                @foreach (var player in Model.Facts.First().Players)
                {
                    <th class="text-center align-bottom">
                        @player.PlayerName
                        <br />
                        <span style="color: #@player.ColorCode" class="d-inline-block mt-1">
                            <i class="@player.Symbol"></i>
                        </span>
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var fact in Model.Facts)
            {
                <tr>
                    <th class="align-middle">
                        @fact.Fact
                    </th>

                    @foreach (var player in fact.Players)
                    {
                        var successClass = player.PlayerID == fact.PlayerID ? "table-success" : string.Empty;

                        <td class="text-center align-middle @successClass">
                            @foreach (var vote in player.Votes)
                            {
                                <span style="color: #@vote.ColorCode" title="@vote.PlayerName">
                                    <i class="@vote.Symbol"></i>
                                </span>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Leaderboard</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th class="text-right">Score</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var player in Model.Players.OrderByDescending(x => x.Score))
            {
                <tr>

                    <td>
                        <span class="mr-1" style="color: #@player.ColorCode">
                            <i class="@player.Symbol fa-fw"></i>
                        </span>

                        @player.PlayerName
                    </td>

                    <td class="text-right">
                        @player.Score.ToString("N2")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
